.article-list {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 16px;
  color: black;
}

.article-list-filter {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 48px;
}

.article-list-button{
    background-color: #e99617;

}

.article-page {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

/* LEFT: article list */
.article-list {
  flex: 1 1 auto;
  max-width: 750px;
}

/* RIGHT: search box */
.article-search {
  width: 280px;
  background-color: #e99617;
  padding: 16px;
  border-radius: 6px;
  color: white;
}

.article-search h3 {
  margin-top: 0;
  margin-bottom: 12px;
}

.article-search input {
  width: 95%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}
.article-search-actions {
  display: flex;
  gap: 10px;
}

.article-search-clear,
.article-search-button {
  width: 100%;
  padding: 2px;
  background-color: #333;
  color: #e99617;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}

.article-search-button:hover {
  background-color: #f4f4f4;
}
.article-search-clear:hover {
  background-color: #f4f4f4;
}


@media (max-width: 900px) {
  .article-page {
    flex-direction: column;
  }

  .article-search {
    width: 100%;
  }
}
